<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="Server.Coordinator, Coordinator" url="tcp://localhost:5757/Server/Coordinator.rem" />
      </client>
      <channels>
        <channel ref="tcp client">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>